body{
    background-image: url(gunung.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
body .content{
    background-color: rgba(0, 0, 0, 0.5);
    width: auto;
    padding: 30px;
    border-radius: 25px;
    
}
body .content .head{
    color: #FEF5E4;
    padding-bottom: -5px;
    font-family: sans-serif;
} 
body .content .body{
    color: #FEF5E4;
    padding-bottom: 5px;
   
}
body .content .body label{
    padding-top: 15px;
}
body .content .body input{
    width: 350px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 20px;
    padding-left: 10px;
    color: #FEF5E4;
    font-size: 15px;
}
body .content .body input:hover{
    border-bottom: 2px solid #12575C;
}
body .content .body button{
    width: 360px;
    height: 30px;
    border-radius: 20px;
    border: none;
    background-color: rgba(3,29,42, 0.5);
    color: #FEF5E4;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px;
}
body .content .body button:hover{
    background-color: rgba(3,29,42, 0.9);
}
body .content .body button img{
    width: 20px;
    margin: -19px 0px -7px -20px;
    padding-right: 10px;
}

